<h1>Home#index</h1>
<p>これは.erb</p>
<div data-react-component='App' data-props="{}"></div>
<div data-react-component='Test' data-props="{}"></div>
<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
<%= react_component("Test", { greeting: "Hello from Kuruma." }) %>
<%= react_component("Table") %>
